
.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

div.candidate {
    display: inline-block;
    width: 50px;
    height: 20px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
    text-align: center;
}

.image {
  opacity: 0.0;
}

.link {
  fill: none;
  stroke: #F00;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.link.source {
  stroke-width: 0.0px;
  stroke-opacity: 1.0;
  stroke: #F00;
}

.hoverlinks {
  fill: none;
  stroke: #F00;
  stroke-opacity: 0.0;
  stroke-width: 5px;
}

.title
{
        font: 40px sans-serif;
}

.desc
{
        font: 15px sans-serif;
}

