<style type="text/css">
  td { border: 1px black solid;}
</style>  

<H1>FirstGen</H1>

<TABLE>
  #for $n in range(0, $nbImage/10)
  <TR>
    #for $i in range(0,10)
    #set $pic = $entries[10 * $n+$i].split("/")[-1].split(".")
    <TD><A href="$pic[0]-pic.html" ><img src=$entries[10 * $n+$i]></A></TD>
    #end for
  </TR>
  #end for

  <TR>
    #for $n in range($nbImage - ($nbImage % 10), $nbImage)
    #set $pic = $entries[10 * $n+$i].split("/")[-1].split(".")
    <TD><A href="$pic[0]-pic.html" ><img src=$entries[$n]></A></TD>
    #end for
  </TR>	
</TABLE>
<A href="index.html">retour</A>
